<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AttendEase</title>

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container py-4">

    <div class="welcome-card p-4 mb-4">

        <h3>Good Morning 👋</h3>

        <p class="mb-0">Rajesh Kumar</p>

        <small>Computer Science Department</small>

    </div>

    <h5 class="mb-3">Today's Classes</h5>

    <div class="class-card p-3 mb-3">

        <h6>BCA Semester 3</h6>

        <p class="mb-2">Computer Networks</p>

        <small>10:00 AM</small>

        <br><br>

        <a href="/attendance" class="btn login-btn w-100">
    Mark Attendance
</a>

    </div>

    <div class="class-card p-3">

        <h6>BCA Semester 1</h6>

        <p class="mb-2">Programming Fundamentals</p>

        <small>12:00 PM</small>

        <br><br>

  <a href="/attendance" class="btn login-btn w-100">
    Mark Attendance
</a>

    </div>

</div>

<nav class="bottom-nav">

    <a href="#" class="active">
        🏠
        <span>Home</span>
    </a>

    <a href="#">
        📅
        <span>Classes</span>
    </a>

    <a href="#">
        📊
        <span>Reports</span>
    </a>

    <a href="#">
        👤
        <span>Profile</span>
    </a>

</nav>

<script src="/js/java.js"></script>

</body>

</html>