*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f4f6f9;

display:flex;

justify-content:center;

}

.phone{

width:100%;
max-width:420px;
min-height:100vh;

background:white;

padding:20px 20px 90px;

}

.top{

text-align:center;

margin-bottom:25px;

}

.university-logo{

width:90px;

margin-bottom:15px;

}

.top h1{

font-size:32px;

font-weight:700;

color:#0B5D3B;

}

.top h3{

margin-top:10px;

font-size:20px;

color:#333;

}

.top p{

color:#777;

margin-top:5px;

}

.menu{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

}

.menu-card{

background:white;

border-radius:20px;

padding:25px;

text-decoration:none;

color:#222;

display:flex;

flex-direction:column;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.08);

transition:.3s;

}

.menu-card:hover{

transform:translateY(-5px);

}

.menu-card i{

font-size:30px;

color:#0B5D3B;

margin-bottom:10px;

}

.credit{

margin-top:35px;

text-align:center;

font-size:13px;

color:#777;

line-height:22px;

}

.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:420px;

display:flex;

justify-content:space-around;

background:white;

padding:12px 0;

border-top-left-radius:25px;

border-top-right-radius:25px;

box-shadow:0 -5px 15px rgba(0,0,0,.08);

}

.bottom-nav a{

text-decoration:none;

color:#777;

font-size:13px;

text-align:center;

}

.bottom-nav i{

display:block;

font-size:22px;

margin-bottom:5px;

}

.bottom-nav .active{

color:#0B5D3B;

font-weight:600;

}