*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#eef2f7;

display:flex;

justify-content:center;

}

.phone{

max-width:420px;

width:100%;

min-height:100vh;

background:#f8f9fa;

padding:20px 20px 90px;

}

.top h2{

color:#0E6B3F;

font-weight:700;

}

.top p{

color:#777;

margin-bottom:25px;

}

.top{

text-align:center;

margin-bottom:25px;

}

.university-logo{

width:85px;

height:85px;

object-fit:contain;

margin-bottom:15px;

}

.top h1{

font-size:30px;

font-weight:700;

color:#0B5D3B;

margin-bottom:8px;

}

.top h3{

font-size:18px;

font-weight:500;

color:#555;

margin-bottom:5px;

}

.top h2{

font-size:24px;

font-weight:700;

color:#222;

margin-bottom:8px;

}

.top p{

font-size:14px;

color:#777;

}

.attendance-card{

background:linear-gradient(135deg,#0B5D3B,#15803D);

color:white;

padding:25px;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

margin-bottom:25px;

}

.attendance-card h4{

font-size:18px;

font-weight:500;

opacity:.9;

}

.attendance-card h1{

font-size:55px;

font-weight:700;

margin:15px 0;

text-align:center;

}

.progress{

height:14px;

background:rgba(255,255,255,.3);

border-radius:20px;

overflow:hidden;

margin-top:20px;

}

.progress-fill{

height:100%;

background:white;

border-radius:20px;

}

.stats{

display:flex;

justify-content:space-between;

text-align:center;

margin-top:20px;

}

.menu{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin-top:20px;

}

.menu-card{

background:white;

border-radius:20px;

padding:25px;

text-decoration:none;

color:#222;

display:flex;

flex-direction:column;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.06);

transition:.3s;

}

.menu-card:hover{

transform:translateY(-5px);

}

.menu-card i{

font-size:30px;

color:#0E6B3F;

margin-bottom:10px;

}

.credit{

margin-top:35px;

text-align:center;

font-size:13px;

color:#666;

line-height:22px;

}

.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:420px;

display:flex;

justify-content:space-around;

background:white;

padding:12px 0;

border-top-left-radius:25px;

border-top-right-radius:25px;

box-shadow:0 -5px 15px rgba(0,0,0,.1);

}

.bottom-nav a{

text-decoration:none;

color:#888;

text-align:center;

font-size:13px;

}

.bottom-nav i{

font-size:22px;

display:block;

margin-bottom:5px;

}

.bottom-nav .active{

color:#0E6B3F;

font-weight:600;

}